/* main containers */
.mainFather {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mainChild {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: clamp(500px, 70%, 90%);
  gap: 2rem;
}
/* divisors */
.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.rightContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
/* * calculator */
.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.numberPad {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.numberPad div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 1rem;
  background-color: white;
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s;
  height: 4.5rem;
  font-size: 1.5rem;
  box-shadow: -14px 14px 27px rgba(217, 217, 217, 0.2),
    14px -14px 27px rgba(217, 217, 217, 0.2),
    -14px -14px 27px rgba(255, 255, 255, 0.3),
    14px 14px 34px rgba(217, 217, 217, 0.9),
    inset 2px 2px 3px rgba(255, 255, 255, 0.3),
    inset -2px -2px 3px rgba(217, 217, 217, 0.5);
}
.numberPad div:hover {
  background-color: var(--secondary);
  color: white;
  transform: translateY(-1px);
  box-shadow: 10px 10px 20px rgba(255, 107, 107, 0.2),
    10px 10px 30px rgba(255, 107, 107, 0.2),
    10px 20px 30px rgba(255, 107, 107, 0.2),
    10px 20px 30px rgba(255, 107, 107, 0.2);
}
.trash, .equals {
  grid-column: span 2;
}

.results {
  border-bottom: 2px solid var(--primary);
  width: 100%;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: right;
  height: 4rem;
}

/* *history */
.history {
  padding: 1.5rem;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ph-copy {
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.ph-copy:hover {
  color: white;
  background-color: var(--secondary);
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(255, 107, 107, 0.2),
    10px 10px 30px rgba(255, 107, 107, 0.2),
    10px 20px 30px rgba(255, 107, 107, 0.2),
    10px 20px 30px rgba(255, 107, 107, 0.2);
}
