/* import fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* general rules */

:root{
    --primary: #727C8F;
    --secondary: #FF6B6B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: #e9e9e9;
    color: #727C8F;
}


/* button style one */
.buttonStyleOne{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 100px;
    border: none;
    padding: 1rem;
    background-color: var(--secondary);
    box-shadow: 10px 10px 20px rgba(255, 107, 107, 0.2), 10px 10px 30px rgba(255, 107, 107, 0.2), 10px 20px 30px rgba(255, 107, 107, 0.2), 10px 20px 30px rgba(255, 107, 107, 0.2);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    gap: 10px;
}
.buttonStyleOne i{
    font-size: 20px;
}
.buttonStyleOne:hover{
    background-color: #ff4949;
    transform: translateY(-5px);
}


/* input style one */
.inputStyleOne{
    width: 100%;
    border-radius: 100px;
    border: 2px solid var(--primary);
    padding: 1rem;
    transition: all 0.3s;
}
.inputStyleOne::placeholder{
    color: var(--primary);
}

.inputStyleOne:focus{
    outline: none;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

/* label */
.labelStyleOne{
    font-weight: 600;
    color: #727C8F;
    background: white;
    padding: 5px;
    width: fit-content;
    border-radius: 50px;
}

/* container style one */
.conStyleOne{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5rem;
    gap: 1rem;
    border-radius: 40px;
    box-shadow: -14px 14px 27px rgba(217, 217, 217, 0.2), 14px -14px 27px rgba(217, 217, 217, 0.2), -14px -14px 27px rgba(255, 255, 255, 0.3), 14px 14px 34px rgba(217, 217, 217, 0.9), inset 2px 2px 3px rgba(255, 255, 255, 0.3), inset -2px -2px 3px rgba(217, 217, 217, 0.5);
}