/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* general rules */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
}
body * {
  transition: all 200ms ease-in;
}

:root {
  --primary: #fff;
  --secondary: #5281fc;
  --tertiary: #222;
}

h1,
h2,
h3,
h4,
h5,
input,
p,
span {
  font-family: Lato, sans-serif;
}

.styleOne {
  background: var(--primary);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  color: var(--tertiary);
  width: 15rem;
  height: 15rem;
}
.styleTwo {
  background: var(--secondary);
  box-shadow: 0px 4px 40px rgba(82, 129, 252, 0.48);
  border-radius: 30px;
  color: var(--primary);
  width: 15rem;
  height: 15rem;
}
.styleThree {
  background: var(--tertiary);
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  color: var(--secondary);
  width: 15rem;
  height: 15rem;
}

.styleOne,
.styleTwo,
.styleThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
/* hover */
.styleOne:hover,
.styleTwo:hover,
.styleThree:hover {
    transform: translateY(-10px);
    cursor: pointer;
}
.secondChild:hover > div > :not(:hover){
    opacity: 40%;
}

/* main fater */
.mainFather{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    margin: 9rem 0rem;
}
/* images */
.firstImage{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -2;
    width: 100%;
    overflow: hidden;
}
.secondImage{
    position: fixed;
    bottom: -1%;
    z-index: -2;
    width: 100%;
    overflow: hidden;
}

.firstChild, .secondChild{
    width: max(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

/* * left container */
/* title */
.firstTitle{
    font-size: clamp(5rem,7rem,100%);
    text-align: center;
}
.firstTitle h1{
    margin: 0;
    color: var(--tertiary);
}
.firstTitle h1 b{
    color: var(--secondary);
}
.firstChild div{
    width: 100%;
}
.firstChild div:nth-child(2) h2{
    font-size: clamp(3rem,5rem,100%);
    color: var(--tertiary);
    letter-spacing: 4px;
    font-weight: 300;
    margin: 0px;
}
/* inputs */
.firstChild div:nth-child(3) input{
    box-shadow: 0px 4px 40px rgba(82, 129, 252, 0.48);
    background-color: var(--secondary);
    padding: 20px 40px;
    border: none;
    border-radius: 100px;
    color: white;
    margin-top: 2rem;
}
.firstChild div:nth-child(3) input::placeholder{
    color: rgba(255, 255, 255, 0.615);
}
.firstChild div:nth-child(3) input:focus{
    outline: none;
    transform: translateY(-10px);
}

/* row elements */
.firstRow, .secondRow, .thirdRow{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    grid-template-columns: repeat(max(3), minmax(15rem, 1fr));
    justify-items: center;
    row-gap: 20px;
}
.secondChild{
    gap: 30px;
}
.secondChild h3{
    width: 100%;
    font-size: 4rem;
    margin: 0;
}
.secondChild h4{
    font-size: 1rem;
    margin: 0;
    font-weight: 300;
}

/* responsive design */
@media only screen and (max-width: 1400px) {
    .mainFather{
        flex-direction: column;
        gap: 4rem;
    }
    .firstChild, .secondChild{
        width: 100%;
    }
  }
@media only screen and (max-width: 730px) {
    .firstRow, .secondRow, .thirdRow{
        grid-template-columns: repeat(2, minmax(15rem, 1fr));   
    }
  }
@media only screen and (max-width: 500px) {
    .firstRow, .secondRow, .thirdRow{
        grid-template-columns: repeat(1, minmax(15rem, 1fr));   
    }
  }