/* sections */
.mainFather {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  flex-direction: row;
  gap: 40px;
  margin-top: 8rem;
}

.mainChild,
.secondChild {
  width: clamp(700px, 40%, 100%);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* titles */
.mainChild h1 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
}
.mainChild h2,
.secondChild h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}
/* rows and columns */
.productForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.firstRow,
.secondRow,
.fourthRow {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: row;
  line-height: 0;
}
.thirdRow {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 1rem;
}
.thirdRow label {
  margin-bottom: -20px;
}

.halfRow {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.rowA,
.rowC {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.rowA h2 {
  margin: 0;
}
