.productContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.total{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
    margin: 0;
    align-self: center;
}
.titleHeader {
    gap: 10px;

}