.mainChild{
    width: clamp(700px, 70%, 100%);
}

.productContainer{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.titleHeader{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 30px;
}
.titleHeader span{
   width: 100%;
}

.addIcon{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    transition: all 0.3s;
    padding: 10px 20px;
}
.addIcon:hover, .plus:hover, .minus:hover{
    cursor: pointer;
    filter: hue-rotate(-30deg);
}

.plus, .minus{
    display: flex;
    align-items: center;
}